<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy - Denari</title>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>
<style>
    .no-margin{
        margin-bottom: 0;
    }
    p{
        margin-bottom: 15px;
        margin-top: 0;
    }
    .pp-text{
        margin: 30px;
    }
</style>

<body>
<div class="logo">
    <a href="/">
        <img src="../static/img/MainImg.png" alt="nav-logo" th:src="@{/img/MainImg.png}" class="logo" width="150"
             height=33/>
    </a>
</div>

<div class="container">
    <div class="pp-text">
        <h2 class="no-margin">Our Privacy Commitment</h2>
        <p>Denari Financial Solutions, LLC (“Denari,” “we,” “us” or “our”) is committed to respecting the privacy rights and
            concerns of all users of Denari website where this Privacy Policy is posted (the “Site”) and the services made
            available by Denari (collectively with the Site, the “Service”). As such, we have established and implemented this
            Privacy Policy to inform visitors to the Site and users of the Service how we use and protect the information we
            collect through the Service. By accessing the Site or using any of the Service, you consent to Denari collection,
            use, storage, deletion and disclosure of information relating to you as set forth in this Privacy Policy. This
            Privacy Policy is effective as of the date set forth above and is only applicable to the Service and not to any
            other website that you may be able to access from the Service which may have its own data collection and use
            practices and policy</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">This policy answers the following questions:</h3>
        <ul>
            <li><b>What information do we collect about you and how do we use it?</b></li>
            <li><b>Will we share your personal information with third parties?</b></li>
            <li><b>What choices do you have about the collection and use of your personal information?</b></li>
            <li><b>What security measures do we take to safeguard your personal information?</b></li>
        </ul>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">What information do we collect about you and how do we use it?</h3>
        <p><b>Types of Information We Collect:</b></p>
        <p>Personal information means information that can be used to identify and contact you. Examples of personal
            information include your full name, address, IP address, and Social Security number. You do not need to submit
            personal information to access the Service generally. However, you may be required to submit personal information
            to access certain aspects of the Service.</p>

        <p>We collect personal information when you purchase services through the Service; create an account; subscribe to our
            newsletter; participate in registration forms, feedback forms, or surveys; receive customer or technical support; or
            participate in components of the Service through which users may submit content.</p>

        <p>To create an account through the Service, we require you to provide (i) if you are a renter, certain personal information
            about yourself (name, email address, password, phone number, date of birth, social security number, property address, and
            prior property address), personal information of your landlord or property manager (name, phone number, and address),
            rental information (rent amount and payment dates), and any information necessary for us to verify and validate the
            information with your landlord or property manager and (ii) if you are a landlord or property manager, your personal
            information and personal information of your tenants, and rental information. Some of the personal information we collect
            when you register, like your social security number, is required by the credit bureau to verify your identity. Your
            contact information will only be made available to other users as authorized by you in connection with the property
            address you submit.</p>

        <p>When purchasing services through the Service, you will also be required to provide a credit card number, billing address,
            phone number, or other payment information. No information of this type will be collected unless you have registered for
            aspects of the Service that require it.</p>

        <p>By submitting personal information through the Site, you authorize Denari to share this personal information for the
            purposes identified herein and on the Site, such as responding to user inquiries, processing transactions, distributing
            materials, and requesting feedback. In addition to the information that you provide to us, we automatically record other
            personal information such as your browser type and the date and time of Service access. This information may be aggregated
            to measure the number of visits, average time spent, page views, and other statistics about users of the Service. We also
            may use this data to monitor the Service’s performance and to make the Service easier and more convenient to use. We will
            elaborate further on the details of automatic collection below.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Third Party Privacy Policies</h3>
        <p>Through the Service, you may be able to link to technology, software, and services owned and controlled by third parties
            (“Third Party Features”). You may be permitted or required to submit personal information to access Third Party Features.
            Such use of Third Party Features and submission of information through Third Party Features will be subject to such
            applicable third party’s terms of use, terms of service, and privacy policy. You agree to look solely to the applicable
            third party and not to Denari to enforce your rights in relation thereto. When you have clicked on a third party logo or
            URL displayed on the Site, or accessible through the Service, which links you to any Third Party Features, our Privacy
            Policy and Terms of Use no longer applies, and you must read the terms of use, terms of service, and privacy policy of the
            third party to see how your personal information will be handled on their website.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">How We Use Your Personal Information</h3>
        <p>When you register for our Services, we use the personal information you provide to us to verify your identity,
            communicate with you, and provide the Service to you, depending on the aspects of the Service for which you
            register. This includes verifying your identity, property address, and rent amount; reporting your information to
            third party credit bureaus; obtaining your credit score and excerpts of your credit report before and after the
            initial reporting of your rental history to the credit bureaus; alerting you of new products, services, features,
            or enhancements to the Service; handling your customer service questions or issues; processing orders; requesting
            feedback; distributing newsletters; and administering contests, promotions or surveys. We may also use your email
            address and phone number as part of the Service in sending you messages about the Service and other general
            announcements. We keep track of your interactions with us, including but not limited to your activity within the
            Service. Except as set forth in this Privacy Policy, or unless we have your consent, we will not share your
            personal information with any person or entity other than those affiliated with us, entities acting on our behalf,
            and relevant third parties such as those needed to collect and maintain our servers and perform technology and
            related services.</p>

        <p>We may supplement personal information we collect about you with information from third parties in order to enhance
            our ability to serve you. We may combine the information we receive from outside sources with personal information
            we collect through the Services. We treat all personal information about you, whether received from you or from a
            third party, in accordance with this Privacy Policy and our Terms of Use.</p>

        <p>We may use your personal information with other information that we have collected, whether through the Services
            or from third parties, to tailor our content to you and to offer you opportunities to consider financial products
            or services that we believe may be of interest to you, such as credit card offers. We may process your personal
            information in a manner such that the end-product does not personally identify you or any other user of the
            Service. We may make your personal information non-personally identifiable by either combining it with information
            about other users (aggregating your personal information with information about other users), or by removing
            characteristics (such as your name or email address) that make the information personally identifiable. This
            process is known as de-personalizing your information (the “De-Personalized Information”). You grant us a
            royalty-free, worldwide, perpetual, fully paid-up, sub-licensable, irrevocable, non-exclusive and fully transferable
            right and license to use your personal information in connection with the creation and development of De-Personalized
            Information and analytical and statistical analysis tools relating to the use of the customer data we collect in
            providing the Service (the “Analytical Data''). We are expressly authorized to make any commercial use of the
            De-Personalized Information and Analytical Data, including without limitation, sharing the De-Personalized Information
            and Analytical Data with third parties, provided that we do not sell, trade, or otherwise transfer from us any part
            of the information or data that personally identifies any Service users.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Do Not Track</h3>
        <p>In compliance with California legislation, AB370, effective January 1, 2014, Denari practices in responding to “do not
            track” signals and collecting user information over time and across a network of websites when you visit the Site are
            as follows: We honor the request of “do not track” signals sent by your browser when you visit the Site. Additionally,
            Denari does not collect user information about your online activities over time and across different websites, or
            authorize third parties to do so.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Google Analytics</h3>
        <p>Denari uses Google Analytics to help us learn about who visits the Site and what pages are being viewed.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Log Information</h3>
        <p>Our servers automatically record information that your browser sends whenever you visit the Site. This information
            includes your Internet Protocol address, your browser type and version, the search engine you used to find the Service,
            if any, which aspects of the Service you use and from where, and when and how long you use them. We use this
            information to monitor and analyze how users use the Service, to provide customer service and to maintain and improve
            the Service. We may also collect similar information from emails we may send to you, which then help us track which
            emails are opened and which links are clicked by recipients. The information allows for more accurate reporting and
            improvement of the Service.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Children’s Privacy</h3>
        <p>We do not knowingly collect personal information from children under 13, or allow them to create an account for the
            Service. We take children’s privacy seriously and encourage parents to play an active role in their children’s online
            experience at all times.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Will we share your personal information with third parties?</h3>
        <p>First, we want to be clear about how we do not share information about you:</p>
        <ul>
            <li><b>We do not share your credit reports or scores with unaffiliated third parties except agents acting on our behalf.
                This means we may share information about you with service providers or agents to have them perform on our behalf
                any of the activities we are permitted to conduct under this Privacy Policy and our Terms of Service. This includes
                things like designing or operating features, helping us research and test feature improvements, identifying offers
                or personalized recommendations, performing analytics, and marketing our Services. These third parties are acting
                on our behalf, so while they may have access to your information, including things like your credit reports and
                scores, they’re required to follow our instructions and meet the standards explained in our Privacy Policy when
                handling information about you that we provide them.</b></li>
            <li><b>We do not sell or rent Personal Information to unaffiliated third parties for their advertising or marketing lists.
            </b></li>
        </ul>
    </div>


    <div class="pp-text">
        <h3 class="no-margin">Sharing Your Information</h3>
        <p>We use your personal information to provide the Service to you, deliver products and services you request, complete
            transactions, handle your customer service questions or issues, and send communications to you about promotions,
            updates, or special offers from Denari that may be of interest to you. The personal information uploaded by you through
            the Service will be shared only with authorized persons to whom you specifically grant access. For example, when you
            register for an account with us, we will ask for your consent to share your personal information with a third-party
            credit bureau, your landlord or property manager (if you are a renter), or your tenant (if you are a landlord or
            property manager). We may also use your De-Personalized Information to provide analyses of our users in the aggregate
            (including Analytical Data subject to the terms of this Privacy Policy) to prospective partners and other third
            parties. We will also share the personal information we collect from you under the following circumstances, and you
            expressly authorize us to share your information as follows:</p>

        <ul>
            <li><b>Protection of Rights: </b>We will share personal information if we have a good faith belief that (i) access, use, preservation or disclosure of
                such information is reasonably necessary to satisfy any applicable law, regulation, legal process, such as a court
                order or subpoena, or a request by law enforcement or governmental authorities, (ii) such action is appropriate to
                enforce our Terms of Use for the Service, including any investigation of potential violations thereof, (iii) such
                action is necessary to detect, prevent, or otherwise address fraud, security or technical issues associated with the
                Service, or (iv) such action is appropriate to protect the rights, property or safety of Denari, its employees, users
                of the Service or others. </li>
            <li><b>Asset Transfers: </b> If we become involved in a merger, acquisition or other transaction involving the sale of some or all of Denari’s
                assets, user information, including personal information collected from you through your use of the Service, could be
                included in the transferred assets. Should such an event occur, we will use reasonable means to notify you through
                email and/or a prominent notice on the Site.</li>
            <li><b>Service Providers: </b> We may share your personal information with vendors or service providers (including our affiliates that provide
                services on our behalf) that we engage for the purpose of processing information on our and your behalf; hosting the
                Services; designing or operating the Services’ features; tracking the Services’ analytics; providing data used,
                directly or indirectly, in connection with the Services; marketing the Services, enabling us to contact you with
                offers; or performing other administrative services. Additionally, we may partner with other companies to process,
                analyze, and/or store data, including, but not limited to, Analytical Data. We may provide these third-party service
                providers or vendors with access to user information, including personal information, in connection with the services
                they are performing for you or us. To the extent applicable, we require these entities to comply with this Privacy
                Policy and appropriate confidentiality and security measures.</li>
            <li><b>Publicly Posted Information: </b>We may share information that is publicly posted by you. Examples of such instances include, but are not limited to:
                reviews, suggestions, questions, surveys, and comments posted on other sites and forums. Should we decide to share
                your publicly posted information on our Site, we will notify you via email. Should any issues arise as a result of
                sharing your publicly posted information, we will need to be notified, at which point we will prevent or remove the
                sharing of this information.</li>
        </ul>
    </div>

    <div class="pp-text">
        <h2 class="no-margin">Additional Information You Should Know About Third Parties</h2>
        <p>The Service may contain direct links to websites operated by our partners and other entities. These third-party
            websites may collect information about you when you visit them or otherwise communicate with them. This Privacy Policy
            does not cover the information practices of third-party websites linked to the Site or accessible through the Service.
            Although we encourage such third parties to adopt and follow their own privacy policies, we are not responsible for
            their collection and use of your personal information. You should refer to the privacy policies and statements of
            other websites or contact the respective webmasters of those websites to obtain information regarding their information
            collection, use, and disclosure policies.</p>
    </div>

    <div class="pp-text">
        <h2 class="no-margin">What choices do you have about the collection and use of your personal information?</h2>
        <h3 class="no-margin">Control of Your Information</h3>
        <p>You may update or delete your personal information or modify your account preferences for the Service by accessing the
            account interface provided through the Service. Please note that if you disable your account, we will keep your contact
            information on file, and may retain other account information for a reasonable period of time afterward for the purpose of
            internal account management and fraud prevention.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Your California Privacy Rights</h3>
        <p>If you are a California resident, you may be entitled to additional rights over your personal information. In summary, The
            CCPA gives Californians several basic rights: the right to know what personal information is being collected about them,
            the right to access that data, the right to know who it’s being sold to, and the right to opt-out of those sales. Denari
            does not sell your personal information.</p>
        <p>The CCPA also gives Californians the right to request that a business delete any personal information the business has
            collected about a consumer unless the information is required to complete the transaction for which the personal
            information was collected. If you would like to request the deletion of your personal data, please submit a request to
            Denari by creating a support ticket here.</p>
        <p>For more detailed information about these rights and how to exercise them, click here.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Opting Out of Receiving Communications From Us</h3>
        <p>Denari uses a “single opt-in” method for sending you email and SMS messages. When you register for an account, you explicitly
            authorize us to contact you via email and SMS messages. If you no longer want to receive our emails and/or SMS messages,
            you may unsubscribe by writing to us at Support@denarisolutions.com or following the “unsubscribe” link at the bottom of
            our emails. You may also request that we stop sending SMS messages by sending “STOP” to the SMS message you have received.
            Please note that you cannot unsubscribe from certain correspondence from us, including messages relating directly to your
            account. Please also note that opting out will not apply to any communications from third parties to whom Denari may have
            provided information regarding the user. Third parties’ use of the information is subject to such parties’ own privacy
            policies, for which Denari shall not be responsible.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Disputes</h3>
        <p>You agree that, in the event any dispute or claim arises out of or relating to this Privacy Policy, you and Denari will
            attempt in good faith to negotiate a written resolution of the matter directly between the parties.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">What security measures do we take to safeguard your personal information?</h3>
        <p>The personal information that you provide to us is stored on servers which are protected by protocols and procedures
            designed to ensure the security of such information. We restrict access to personal information to Denari employees,
            independent contractors, and agents who need to know this information to develop, operate, and maintain the Service. All
            Denari personnel who have access to sensitive information such as Social Security numbers are trained in the maintenance
            and security of such information to prevent their mishandling. However, no server, computer or communications network or
            system, or data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we strive to
            protect user information, we cannot ensure or warrant the security of any information you transmit to us or through the
            use of the Service and you acknowledge and agree that you provide such information and engage in such transmissions at
            your own risk. Once we receive a transmission from you, we will endeavor to maintain its security on our systems.</p>
        <p>In the event that personal information you provide to us is compromised as a result of a breach of security, when
            appropriate we will take reasonable steps to investigate the situation, notify you and take the necessary steps to comply
            with any applicable laws and regulations.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Notification of Changes</h3>
        <p>This Privacy Policy may change from time to time, and we will post all changes on the Site.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Questions? Contact Us</h3>
        <p>If you have any questions about our privacy practices or this Privacy Policy, please contact us by email at
            Support@denarisolutions.com.</p>
    </div>

    <div class="pp-text">
        <h3 class="no-margin">Terms of Use</h3>
        <p>Please read the Terms of Use governing the use of the Site and the Service.</p>
    </div>

    <div class="pp-text">
        <p>Version 1.0. Last Modified on June 8, 2023</p>
    </div>
</div>


<div th:replace="~{partials :: scripts}"></div>
</body>
</html>
