<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head div th:replace="partials :: head('Home')">
    <meta charset="UTF-8"/>
    <title>Denari</title>
</head>

<body>
<!--<div class="logo">-->
<!--    <a href="/">-->
<!--        <img src="../static/img/MainImg.png" alt="nav-logo" th:src="@{/img/MainImg.png}" class="logo" width="150"-->
<!--             height=33/>-->
<!--    </a>-->
<!--</div>-->

<!--<div class="container secondTitle">-->
<!--    <h1>Welcome to Denari</h1>-->
<!--    <h3>Let us help you maximize your credit score</h3>-->
<!--</div>-->



<!--<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<link rel="stylesheet" href="assets/css/styles.css">-->
<!--</head>-->
<!--<body>-->
<!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
<header>
<!--    <h2><a href="#">Life is a party!</a></h2>-->
    <div class="logo">
        <a href="/">
            <img src="../static/img/allWhiteLogoMain.png" alt="nav-logo" th:src="@{/img/allWhiteLogoMain.png}" class="logo" width="170" height=30/>
        </a>
    </div>
    <nav>
        <li><a class="nav-a" href="#How-it-works">How it works</a></li>
        <li><a class="nav-a" href="#About-us">About</a></li>
        <li><a class="nav-a" href="#FAQ-Section">FAQ</a></li>
        <li><a class="nav-a" href="#sign-up">Sign Up</a></li>
    </nav>
</header>

<section class="hero">
    <div class="background-image"></div>
    <div class="hero-content-area">
<!--        <h1>Life is a party!</h1>-->
<!--        <h3>Unmissable Adventure Tours With Your Friends</h3>-->
<!--        <a href="#" class="btn">Contact Us Now</a>-->
    </div>
</section>

<section class="benefits" id="Benefits">
    <h3 class="title">Welcome to Denari</h3>
    <p>At Denari, we understand that paying rent every month is an important part of building a strong
        credit history. However, landlords choose not to report your rental data.
        That's why we've created a simple, secure platform that allows you to report your rental payments to
        TransUnion.</p>
    <hr>

    <ul class="grid">
        <li>
            <i class="fa fa-line-chart fa-4x"></i>
            <h4>Improve Credit Scores</h4>
            <p>Reporting your rent adds another line of credit, which the credit bureaus can factor into your monthly score.</p>
        </li>
        <li>
            <i class="fa fa-home fa-4x"></i>
            <h4>Photo Trips</h4>
            <p>Want to experience nature's beauty without all of that annoying exercise? Take a photo tour on one of our <em>Life is a party!</em> buses.</p>
        </li>
        <li>
            <i class="fa fa-thumbs-o-up fa-4x"></i>
            <h4>Enhance Loan Approval Chances</h4>
            <p>Enrolling never requires any credit pull that could negatively impact your credit.</p>
        </li>
        <li>
            <i class="fa fa-credit-card fa-4x"></i>
            <h4>Racing Trips</h4>
            <p>Enrolling never requires any credit pull that could negatively impact your credit.</p>
        </li>
    </ul>
</section>

<!--How it works Section-->
<section class="about-us" id="How-it-works">
    <h3 class="title">How it Works:</h3>
    <hr>

    <div class="container how-it-works-columns">
        <div class="row">
            <div class="col circle-placement">
                <div class="circle">1</div>
            </div>
            <div class="col circle-placement">
                <div class="circle">2</div>
            </div>
            <div class="col circle-placement">
                <div class="circle">3</div>
            </div>
        </div>
    </div>

<!--    <ul class="grid">-->
<!--        <li class="small image-1"></li>-->
<!--        <li class="large image-2"></li>-->
<!--        <li class="large image-3"></li>-->
<!--        <li class="small image-4"></li>-->
<!--    </ul>-->
</section>

<!--FAQ Dropdown Section-->
<section class="FAQ-Section" id="FAQ-Section">
    <h3 class="title">Questions You may have:</h3>
<!--    <hr>-->

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Accordion Item #1
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Accordion Item #2
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Accordion Item #3
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                    Accordion Item #3
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                    Accordion Item #3
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>

    </div>
</section>


<!--Registration Section-->
<section class="contact" id="sign-up">
    <h3 class="title">Register Here:</h3>
    <hr>
    <div class="container">
        <div class="row">
            <form id="regForm" th:action="@{/}" th:method="POST" th:object="${user}">
                <!-- One "tab" for each step in the form: -->
                <div class="tab">
                    <div class="row">
                        <div class="col 6">
                            <label for="firstname" class="star" style="padding-top:13px">First Name</label>
                            <input type="text" id="firstname" name="firstname" class="form-content required" autocomplete="on"
                                   th:field="*{firstName}" />
                        </div>
                        <div class="col 6">
                            <label for="middle-name" style="padding-top:13px">Middle name</label>
                            <input id="middle-name" name="middle-name" class="form-content" type="text"
                                   autocomplete="on" th:field="*{middleName}"  />
                        </div>
                    </div>

                    <label for="lastname" class="star" style="padding-top:13px">Last Name</label>
                    <input id="lastname" name="lastname" class="form-content required" type="text" autocomplete="on"
                           th:field="*{lastName}" />

                    <label for="email" class="star" style="padding-top:13px">Email</label>
                    <input id="email" name="email" type="text" class="form-content required" autocomplete="on"
                           th:field="*{email}" required>
                </div>

                <div class="tab">
                    <label for="DOB" class="star" style="padding-top:13px">Data of Birth</label>
                    <input id="DOB" class="form-content required" type="text" th:field="*{DOB}"/>

                    <label for="SSN" class="star" style="padding-top:13px">Social Security Number</label>
                    <input id="SSN" class="form-content required" type="text" th:field="*{SSN}"/>

                    <label for="phone-number" class="star" style="padding-top:22px">&nbsp;Phone Number</label>
                    <input id="phone-number" type="tel" class="form-content required" th:field="*{phoneNumber}"/>
                </div>

                <div class="tab">
                    <mapbox-address-autofill
                            access-token="pk.eyJ1IjoiaXJhbWlyZXoxMDgiLCJhIjoiY2xiMm56NGE5MDNnbDNzcGh5dmoyeXVjNSJ9.K6sMjb-FN0pH8o1piPNklA">
                        <label class="star" style="padding-top:13px">Address</label>
                        <input class="text form-content required" autocomplete="address-line1" th:field="*{street}">
                        <label class="star" style="padding-top:13px">City</label>
                        <input class="text form-content required" autocomplete="address-level2" th:field="*{city}">
                        <div class="row">
                            <div class="col 4">
                                <label style="padding-top:13px">Apt #</label>
                                <input class="text form-content" autocomplete="address-line2" th:field="*{appt_number}">
                            </div>
                            <div class="col 4">
                                <label class="star" style="padding-top:13px">State</label>
                                <input class="text form-content required" autocomplete="address-level1" th:field="*{state}">
                            </div>
                            <div class="col 4">
                                <label class="star" style="padding-top:13px">Zip code</label>
                                <input class="text form-content required" autocomplete="postal-code" th:field="*{postal_code}">
                            </div>
                        </div>
                    </mapbox-address-autofill>
                </div>

                <div class="tab">
                    <label class="star" style="padding-top:13px">Monthly Rent</label>
                    <input class="form-content required" id="amount" th:field="*{monthly_rent}">

                    <div class="row">
                        <div class="col 6">
                            <label class="star" style="padding-top:13px">Move in date</label>
                            <input type="text" id="MID" class="form-content required" th:field="*{moveIn_date}">
                        </div>
                        <div class="col 6">
                            <label class="star" style="padding-top:13px">Move out date</label>
                            <input type="text" id="MOD" class="form-content" th:field="*{moveOut_date}">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input required" type="checkbox" value="" id="invalidCheck">
                            <label class="form-check-label">
                                I Read and Accept <a href="/terms-of-use">Terms of Service</a> and <a href="/privacy-policy">Privacy Policy</a>
                            </label>
                        </div>
                    </div>
                </div>

                <div style="overflow:auto;">
                    <div style="float:right;" class="mainFormBtn">
                        <button type="button" class="formBtn" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" class="formBtn" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                </div>
                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>

<!--                <div class="row">-->
<!--                    <div class="col-lg-6 col-md-12">-->
<!--                        <h6 style="color: #03e9f4">Reporting payments offers several benefits:</h6>-->
<!--                        <ul>-->
<!--                            <li>Build a Strong Credit History</li>-->
<!--                            <li>Improve Credit Scores</li>-->
<!--                            <li>Enhance Loan Approval Chances</li>-->
<!--                            <li>Create a Financial Track Record</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-lg-6 col-md-12">-->
<!--                        <h6 style="color: #03e9f4">Join our Beta Program Today</h6>-->
<!--                        <p>-->
<!--                            By joining our beta program, you get exclusive early access to our cutting-edge credit reporting-->
<!--                            platform.-->
<!--                            As a beta user, you have the opportunity to shape the future of our service and provide valuable-->
<!--                            feedback that will help us refine and enhance our offering.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
    </div>
</section>

<section class="about-us" id="About-us">
    <h3 class="title">About Us:</h3>
    <hr>

    <div class="clearfix">
        <img class="logo col-md-6 float-md-start mb-3 ms-md-3" src="../static/img/isaac_img.jpg" alt="nav-logo" th:src="@{/img/isaac_img.jpg}" height=450/>
        <p>
            A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image.
        </p>
        <p>
            As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on, but actually conveys no tangible information at. It simply takes up space and should not really be read.
        </p>
    </div>

    <h4>Mission Statement</h4>
    <p>And yet, here you are, still persevering in reading this placeholder text, hoping for some more insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.</p>

<!--    <ul class="grid">-->
<!--        <li class="small image-1"></li>-->
<!--        <li class="large image-2"></li>-->
<!--        <li class="large image-3"></li>-->
<!--        <li class="small image-4"></li>-->
<!--    </ul>-->
</section>

<footer>
    <p>Images courtesy of <a href="http://unsplash.com/">unsplash</a>.</p>
    <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
    <ul>
        <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
    </ul>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<div th:replace="~{partials :: scripts}"></div>
<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and fix the Previous/Next buttons:
        if (n === 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n === (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form...
        if (currentTab >= x.length) {
            // ... the form gets submitted:
            document.getElementById("regForm").submit();
            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        let x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByClassName("required");
        // A loop that checks every input field in the current tab:
        // for (i = 0; i < y.length; i++) {
        //     // If a field is empty...
        //     if (y[i].value === "") {
        //         // add an "invalid" class to the field:
        //         y[i].className += " invalid";
        //         // and set the current valid status to false
        //         valid = false;
        //     }
        // }
        // // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
    }

    $(document).ready(function () {
        $("#SSN").mask('000-00-0000');
        $("#phone-number").mask('(000)000-0000');
        $("#amount").mask('$00000');
        $("#DOB").mask('00/00/0000');
        $("#MID").mask('00/00/0000');
        $("#MOD").mask('00/00/0000');
    });


    const script = document.getElementById('search-js');
    script.onload = () => {
        mapboxsearch.autofill({accessToken: MapBox_API_KEY});

        mapboxsearch.config.accessToken = MapBox_API_KEY;
        // Adding confirmation prompt to Users address
        const form = document.querySelector('form');
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const result = await confirmAddress(form, {
                minimap: true,
                skipConfirmModal: (feature) =>
                    ['exact', 'high'].includes(
                        feature.properties.match_code.confidence
                    )
            });
            if (result.type === 'nochange') submitForm();
        });
    };


    // // Mapbox Address Confirmation Modal
    // document.getElementById("search-js").onload = () => {
    //     mapboxsearch.config.accessToken = MapBox_API_KEY;
    //
    //     // Adding confirmation prompt to Users address
    //     const form = document.querySelector('mapbox-address-autofill');
    //     form.addEventListener("submit", async (e) => {
    //         e.preventDefault();
    //         const result = await mapboxsearch.confirmAddress(form, {
    //             theme: { variables: {border: '3px solid rgba(0,0,0,0.35)', borderRadius: '18px'} },
    //             minimap: {
    //                 defaultMapStyle: ['mapbox', 'outdoors-v11'],
    //                 satelliteToggle: true
    //             },
    //             // skipConfirmModal: (feature) => false // overrides default behavior, show dialog every time
    //         });
    //         console.log(result);
    //     });
    // }
</script>
</body>
</html>




